@import "tailwindcss";

@theme {
  /* Font Setup */
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;

  /* Colors */
  --color-nyan-purple: #b6c8f2;
  --color-nyan-pink: #f9c6d1;
  --color-nyan-gold: #ffd700;
  --color-nyan-dark: #2d2d2d;
  
  --color-pink-soft: #FFD1DC;
  --color-pink-deep: #FF69B4;
}

:root {
  background-color: #ffffff;
  color: var(--color-nyan-dark);
}

html {
  scroll-behavior: smooth;
}